@import 'variables.scss';

#admin-form{
    font-family: 'Coolvetica Black';
    margin: 5%;
    padding: 20px;
    border-radius: 15px;
    display: block;
    input{
        font-family: 'Coolvetica Black';
        margin: 20px;
        display: block;
        padding: 5px;
    }
    form{ display: flow; }
    button{
        background-color: #804cd1 ;
        font-family: 'Coolvetica Black';
        border: none;
        color:white;
        padding: 10px;
        border-radius: 15px;
    }
}