@import 'variables.scss';
@import 'cart.scss';
@import 'home.scss';
@import 'products.scss';
@import 'nav.scss';
@import 'admin.scss';

@font-face {
    font-family: 'Coolvetica Regular';
    src: url("../fonts/coolvetica-rg.otf") format("truetype");
}
@font-face {
    font-family: 'Coolvetica Black';
    src: url("../fonts/CoolveticaBk-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'Coolvetica Regular Italic';
    src: url("../fonts/coolvetica-rg-it.otf") format("truetype");
}

.color-0 {
    color: $color-0;
}
.background-color-0 {
    background-color: $color-0;
}
.color-1 {
    color: $color-1;
}
.background-color-1 {
    background-color: $color-1;
}
.color-2 {
    color: $color-2;
}
.background-color-2 {
    background-color: $color-2;
}
.color-3 {
    color: $color-3;
}
.background-color-3 {
    background-color: $color-3;
}
.color-4 {
    color: $color-4;
}
.background-color-4 {
    background-color: $color-4;
}
.white-1 {
    color: $white-1;
}
.background-white-1 {
    background-color: $white-1;
}
.white-2 {
    color: $white-2;
}
.background-white-2 {
    background-color: $white-2;
}
.black-1 {
    color: $black-1;
}
.background-black-1 {
    background-color: $black-1;
}

.button-1 {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: $color-2;
    font-size: 20px;
}