@charset "UTF-8";
#cart-banner {
  font-family: 'Merriweather';
  background-image: url("../img/carrito-banner.jpeg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center; }

body {
  font-family: 'Merriweather'; }
  body h1 {
    font-size: 100px; }
  body h2 {
    font-size: 70px;
    transition: 0.5s ease; }
  body h3 {
    transition: 0.5s ease; }
  body p {
    font-size: 24px;
    transition: 0.5s ease; }


#home-banner {
  background-image: url("../background/img-1.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center; }

#home-novedades {
  font-family: 'Coolvetica Black';
  height: 750px;
  width: 100%; }

#home-quienes-somos {
  font-family: 'Coolvetica Black';
  height: 750px;
  width: 100%; }
  #home-quienes-somos p {
    margin-top: 70px;
    width: 70%;
    max-width: 1000px; }

#home-contacto {
  font-family: 'Coolvetica Black';
  height: 850px;
  width: 100%; }
  #home-contacto h2 {
    margin-bottom: 40px; }
  #home-contacto p {
    font-weight: bold;
    margin: 0;
    font-size: 24px; }

#img-1 {
  height: 500px;
  width: auto; }

#contacto-container {
  width: fit-content; }

#home-background-1 {
  background-image: url("../img/img-1b.png");
  background-size: cover;
  background-position: center; }

#home-map {
  width: 800px;
  height: 450px; }

.home-container-cards {
  padding: 60px;
  display: inline-flex;
  gap: 35px;
  transition: 0.5s ease;
  height: 430px; }

  /*--------------------------------------------------------CARD----------------------------------------------------------------------*/
  .card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s ease; 
  }
  
  .card:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.305);
    transition: 0.5s ease;
    width: 250px; }
  
  .prod-productos .card {
    text-align: left;
    margin: 20px; }
  
    .card img {
      width: 100%;
      height: auto;
    }
  
    /* Utiliza la variable para la imagen */
    .card-body {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .card-title {
      margin: 0;
      font-size: 24px;
      content: var(--card-title);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    
  
  .card-subtitle {
    margin: 5px 0;
    font-size: 18px;
    content: var(--card-subtitle);
    /* Utiliza la variable para el subtítulo*/ 
  }
  
  /*precio y boton*/
  .card-prbt {
    display: flex;
  }
  
  .card-price {
    font-size: 20px;
    font-weight: bold;
    margin-block: auto;
  }
  
  /*boton card*/
    .card-button {
      background-color: #49c44d;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition-duration: 0.4s;
      margin-left: auto;
      border-radius: 100px;
    }
    .card-button:hover {
      background-color: #3d8b41; /* Cambio de color de fondo al pasar el mouse */
      color: white; /* Texto blanco */
    }
#prod-banner {
  background-image: url("../img/newWave.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center; }

.prod-name {
  font-family: 'Coolvetica Black';
  display: flex; 
  flex-direction: column;
}

.prod-contenido{
  display: flex;
  flex-direction: row;
}

.prod-categorias {
  background-color: #d1bef4;
  padding: 40px;
  margin-bottom: 0; }

.prod-categorias :hover {
  cursor: pointer;
  color: #804cd1; }

.prod-productos {
  padding-left: 40px;
  padding-top: 40px; }
  .prod-productos h3 {
    padding-bottom: 20px; }
  .prod-productos card {
    margin-left: 0px;
    margin-top: 20px; }

.prod-cards {
  column-count: 4;
  column-gap: 0px;
  display: RUBY;
  justify-content: center; }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: 0.3s ease;
    z-index: 100;
    width: 100%;
    height: 85px;
    font-family: 'Coolvetica Black';
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #38186b;
  }
  
  nav img {
    height: 90px;
  }
  
  .nav-links {
    display: flex;
    margin: auto;
    list-style-type: none;
    padding: 0;
  }
  
  
  .nav-links li {
    margin-right: 25px;
    transition: 0.5s ease;
  }
  
  .nav-links a {
    text-decoration: underline;
    text-decoration-color: #d1bef4;
    color: #000000;
    transition: 0.5s ease;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    color: #804cd1;
    transition: 0.5s ease;
  }
  

#admin-form {
  font-family: 'Coolvetica Black';
  margin: 5%;
  padding: 20px;
  border-radius: 15px;
  display: block; }
  #admin-form input {
    font-family: 'Coolvetica Black';
    margin: 20px;
    display: block;
    padding: 5px; }
  #admin-form form {
    display: flow; }
  #admin-form button {
    background-color: #804cd1;
    font-family: 'Coolvetica Black';
    border: none;
    color: white;
    padding: 10px;
    border-radius: 15px; }

@font-face {
  font-family: 'Coolvetica Regular';
  src: url("../fonts/coolvetica-rg.otf") format("truetype"); }

@font-face {
  font-family: 'Coolvetica Black';
  src: url("../fonts/CoolveticaBk-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Coolvetica Regular Italic';
  src: url("../fonts/coolvetica-rg-it.otf") format("truetype"); }

.color-0 {
  color: #f1eaff; }

.background-color-0 {
  background-color: #f1eaff; }

.color-1 {
  color: #e5dbf9; }

.background-color-1 {
  background-color: #e5dbf9; }

.color-2 {
  color: #d1bef4; }

.background-color-2 {
  background-color: #d1bef4; }

.color-3 {
  color: #804cd1; }

.background-color-3 {
  background-color: #804cd1; }

.color-4 {
  color: #4b2b78; }

.background-color-4 {
  background-color: #4b2b78; }

.white-1 {
  color: #ffffff; }

.background-white-1 {
  background-color: #ffffff; }

.white-2 {
  color: #f5f5f5; }

.background-white-2 {
  background-color: #f5f5f5; }

.black-1 {
  padding: 20px;
  color: #0a0a0a; }

.background-black-1 {
  background-color: #0a0a0a; }

.button-1 {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #d1bef4;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s ease; }

.button-1:hover {
  color: #4b2b78;
  background-color: #cbb5f3;
  transition: 0.2s ease; }



.productList {
  
  display: flex;
  align-items: center;
  width: 100%;
  margin: 30px;
  background-color:#f5f5f5;
  height: 170px;
  border-radius: 20px;

}

.productList img{
  width: 150px;
  height: 150px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 100px;
}

.productList .delete-button{
  margin-left: auto;
  margin-right:5% ;
  border:none;
  width: 3%;
  border-radius: 200px;
  height: 30px;
  background-color: #804cd1;
  color: #ffffff;
}

.productList-body {
  display: flex;
  align-items: flex-start;
  width:100%;
}

.productList-body span{
  margin-right: 50px;
}
.productList-body p{
  padding: 20px;
  width: 35%;
}

.productList-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 210px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 25px;
}
.productList-header span{
  width: 330px;
}

.cart{
  font-family: 'Coolvetica Regular';

}
.cart-items{
  margin: 5%;
  margin-right: 7%;

}


.cart-checkout{
  margin: 5%;
  margin-top: 20px;
  margin-left: 6%;
  background-color:#cbb5f3;
  padding: 10px;
  border-radius: 20px;
  display: flex;
}

.cart-envio {
  padding: 20px;
}

.cart-total {
  padding: 20px;
  float: right;
  margin-left: auto;
  width: 300px;
}

.cart-total button {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  background-color:#804cd1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.cart-envio select{
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #60399e;
  padding: 20px;
}

.footer h3{
  color:rgb(0, 0, 0);
  font-size: 1rem;
  font-family: 'Coolvetica Black';
}

.footer-padding{
  height: 50px;

}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 35px;
}

.logo {
  text-align: center;
}

.logo img {
  width: 100px;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
  filter: invert(100%);
}

.carousel-indicators {
  display: none;
}

.padding-nav {
  height: 85px; }

.padding-nav-title {
  padding-top: 42.5px; }

.prod-busqueda{
  margin-bottom: 4%;
  padding: 2%;
  background-color: #F5F5F5;
  border-radius: 20px;
  align-content: center;
}
.prod-busqueda input{
  border-color:#000000; 
  border-style: solid;
  font-size: 16px;
}

.prod-busqueda button{
  margin: 30px;
}
  
.prod-busqueda :focus {
  border-color:#ccc;
  box-shadow: 0 0 5px #808080; 
}