body {
  font-family: 'Merriweather'; }
  body h1 {
    font-size: 100px; }
  body h2 {
    font-size: 70px; }
  body p {
    font-size: 22px; }

#home-banner {
  background-image: url("../background/img-1.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center; }

#home-novedades {
  font-family: 'Coolvetica Black';
  height: 650px;
  width: 100%; }

#home-quienes-somos {
  font-family: 'Coolvetica Black';
  height: 650px;
  width: 100%; }
  #home-quienes-somos p {
    margin-top: 50px;
    width: 70%;
    max-width: 1000px; }

#home-contacto {
  font-family: 'Coolvetica Black';
  height: 850px;
  width: 100%; }
  #home-contacto h2 {
    margin-bottom: 40px; }
  #home-contacto p {
    font-weight: bold;
    margin: 0;
    font-size: 24px; }


#img-1 {
  height: 500px;
  width: auto; }

#contacto-container {
  width: fit-content; }

#home-background-1 {
  background-image: url("../img/img-1b.png");
  background-size: cover;
  background-position: center; }

#home-map {
  width: 800px;
  height: 450px; }

@font-face {
  font-family: 'Coolvetica Regular';
  src: url("../fonts/coolvetica-rg.otf") format("truetype"); }

@font-face {
  font-family: 'Coolvetica Black';
  src: url("../fonts/CoolveticaBk-Regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Coolvetica Regular Italic';
  src: url("../fonts/coolvetica-rg-it.otf") format("truetype"); }

.color-0 {
  color: #f1eaff; }

.background-color-0 {
  background-color: #f1eaff; }

.color-1 {
  color: #e5dbf9; }

.background-color-1 {
  background-color: #e5dbf9; }

.color-2 {
  color: #d1bef4; }

.background-color-2 {
  background-color: #d1bef4; }

.color-3 {
  color: #804cd1; }

.background-color-3 {
  background-color: #804cd1; }

.color-4 {
  color: #4b2b78; }

.background-color-4 {
  background-color: #4b2b78; }

.white-1 {
  color: #ffffff; }

.background-white-1 {
  background-color: #ffffff; }

.white-2 {
  color: #f5f5f5; }

.background-white-2 {
  background-color: #f5f5f5; }

.black-1 {
  color: #0a0a0a; }

.background-black-1 {
  background-color: #0a0a0a; }

.button-1 {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #d1bef4;
  font-size: 20px; }
  :root {
    --card-imageSrc: url(''); /* Define la variable para la imagen */
    --card-title: ''; /* Define la variable para el título */
    --card-subtitle: ''; /* Define la variable para el subtítulo */
    --card-price: ''; /* Define la variable para el precio */
  }
  
  .home-container-cards{
    display: inline-flex;
  }
  .card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    content: var(--card-imageSrc); /* Utiliza la variable para la imagen */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    margin: 0;
    font-size: 24px;
    content: var(--card-title); /* Utiliza la variable para el título */
  }
  
  .card-subtitle {
    margin: 5px 0;
    font-size: 18px;
    content: var(--card-subtitle); /* Utiliza la variable para el subtítulo */
  }
  
  .card-price {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
    content: var(--card-price); /* Utiliza la variable para el precio */
  }
  
nav {
  height: 120px;
  font-family: 'Coolvetica Black';
  font-size: 25px;
  display: flex;
  justify-content: center;
}


.nav-links {
  list-style-type: none;
  display: flex;
  margin:0;
  padding-top: 30px;
  justify-content: center;
  vertical-align: middle;

}

.nav-links li {
  margin-right: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  color:black;

}

.nav-links li a:hover {
  text-decoration: underline;
  color: #4b2b78;
}

nav img {
  height: 120px;
}

/* -----------------------------------------   PRODUCTOS   -----------------------------------------      */


#prod-banner {
  background-image: url("../img/newWave.jpg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center; }

.prod-name{
  font-family: 'Coolvetica Black';
  display: flex;
}
.prod-categorias{
  background-color:#d1bef4;
  padding: 40px;
}
.prod-categorias :hover{
  color:#804cd1;
}
.prod-productos{
  padding-left: 40px;
  padding-top:40px ;
}
.prod-productos h3{
  padding-bottom: 20px;
}
.prod-cards{
  column-count: 4; /* Number of columns you want */
  column-gap: 0px; /* Optional: Add gap between cards */
  display: RUBY;
  justify-content: center;
}


.prod-productos .card{
  margin-left: 0px;
  margin-top: 20px;
}

/* -----------------------------------------   CARRITO   -----------------------------------------      */


#cart-banner {
  background-image: url("../img/carrito-banner.jpeg");
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center; }

  /* -----------------------------------------   ADmin   -----------------------------------------      */


.Admin-form{
  font-family: 'Coolvetica Black';

}
.Admin-form input{
  margin: 10px;
}

.Admin-form h2{
  
}
